# Usage: pip install -r requirements.txt

# Base
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
torch>=1.7.0  # see https://pytorch.org/get-started/locally/ (recommended)
torchvision>=0.8.1
tqdm>=4.64.0

# Extra
pre-commit
flake8
ufmt
pydocstyle
